.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  width: 100%;
  min-height: 200px;
}

.loader {
  --g: radial-gradient(farthest-side, #0000 calc(95% - 3px), #fff calc(100% - 3px) 98%, #0000 101%) no-repeat;
  background: var(--g), var(--g), var(--g);
  animation: l9 1s infinite alternate;
}

.small {
  width: 60px;
  height: 24px;
  background-size: 18px 18px;
}

.medium {
  width: 100px;
  height: 40px;
  background-size: 30px 30px;
}

.large {
  width: 140px;
  height: 56px;
  background-size: 42px 42px;
}

@keyframes l9 {
  0% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
  20% {
    background-position: 0 0, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0 100%, 50% 0, 100% 50%;
  }
  60% {
    background-position: 0 50%, 50% 100%, 100% 0;
  }
  80% {
    background-position: 0 50%, 50% 50%, 100% 100%;
  }
  100% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
}
